artGallery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="artlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="artType">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="sales">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="article" type="xs:string" />
										<xs:element name="price" type="xs:unsignedShort" />
									</xs:sequence>
									<xs:attribute name="onSale" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>